<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<div th:if="${message}" style="color:green">[[${message}]]</div>
<div th:if="${error}" style="color:red">[[${error}]]</div>
<form th:action="@{/login}" method="post">
    <label>Username: <input type="text" name="username" required/></label><br/>
    <label>Password: <input type="password" name="password" required/></label><br/>
    <button type="submit">Log In</button>
</form>
<p>Don't have an account? <a th:href="@{/signup}">Sign up</a></p>
</body>
</html>
